body,html{
    position: relative;
    padding: 0;
    margin: 0;
}

#Paint {
    position: fixed;
}

.btn-large {
    padding: 20px;
    font-size: 30px;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
}

.btn-large.circle {
    border-radius: 50%;
}
.not-border{
    border:0;
}

.right {
    float: right !important;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.9);
    border-right: 1px solid #ccc; 
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    transition: 0.2s;
    z-index: 99;
}

.sidebar .btn-large {
    color: #fff;
    display: block;
    transition: 0.2s;
}
.sidebar .btn-large.active {
    background-color: #888;
}
.sidebar .btn-large:hover {
    color: #000;
    background-color: #fff;
    transition: 0.2s;
}
#colorpicker {
    top: 200px;
    right: 100px;
    position: fixed;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#colorpicker > .navbar {
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-right: 2px;
    margin-left: 2px;
    padding-top:3px;
    padding-left: 5px;
    cursor: move;
}

#colorpicker > .navbar .btn {
    width: 15px;
    height: 15px;
    border:1px solid #ccc;
    display: inline-block;
}

#colorpicker > .content {
    position: relative;
}

#colorpicker > .content .color-bar {
    padding: 10px;
}

#colorpicker > .content .color-bar .bar {
    position: relative;
    width:200px;
    height: 15px;
    border-radius: 15px;
    background: #fff;
    display: inline-block;
}

#colorpicker > .content .color-bar .bar > .connect {
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 20px;
}

#colorpicker > .content .color-bar .bar > .selecter {
    background: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 15px;
    border:1px solid #eee;
    left: 0px;
    top: -5px;
    transform: translateX(-50%);
    cursor: pointer;
}

#colorpicker > .content .color-bar .number {
    background-color: #e4e4e4;
    display: inline-block;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}